	/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.infoStyle {
	text-align: center;
	font-weight: bold;
	
}
.FlexTable {
  table-layout: fixed;
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #505050;
}

.FlexTable-OddRow {
  background-color: #FFFFFF;
}

.FlexTable-Header {
  font-weight: bold; 
  padding: 10px;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:  #111111;
   color: white;
  
}
.FlexTable-EvenRow {
  background-color:  #FFFF99;
  color: black;
}

.FlexTable-ColumnLabel {
  color: white;
  padding: 3px;
}

.FlexTable-ColumnLabelCell {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.FlexTable-Cell {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
  padding: 5px;
}

.userNameColumn {
	 font-weight: bold;
	 width: 200px;
}
.timeStampColumn {
	 font-weight: bold;
	  width: 250px;
}

/*	
	0px -180px crying 
	0px -360px smile
	0px 0px laugh
	-300px -275px love	
	(x and y)
	-100px 0px blub
	-200px 0px fever
	-300	px 0px music
	-400px 0px question mark 
	*/

.laugh {
	background: url("/images/smileys.jpg") 0px 0px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.bulb {
	background: url("/images/smileys.jpg") -100px 0px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.fever {
	background: url("/images/smileys.jpg") -200px 0px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.music {
	background: url("/images/smileys.jpg") -300px 0px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.question {
	background: url("/images/smileys.jpg") -400px 0px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
	
.exclamator {
	background: url("/images/smileys.jpg") 0px -90px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.thumbsdown {
	background: url("/images/smileys.jpg") -100px -90px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.thumbsup {
	background: url("/images/smileys.jpg") -200px -90px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.call {
	background: url("/images/smileys.jpg") -300px -90px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.rofl {
	background: url("/images/smileys.jpg") -400px -90px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.cry {
	background: url("/images/smileys.jpg") 0px -180px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.oh {
	background: url("/images/smileys.jpg") -100px -180px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.ah {
	background: url("/images/smileys.jpg") -200px -180px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.ahh {
	background: url("/images/smileys.jpg") -300px -180px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.cool {
	background: url("/images/smileys.jpg") -400px -180px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.angry {
	background: url("/images/smileys.jpg") 0px -275px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.angry1 {
	background: url("/images/smileys.jpg") -100px -275px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.wink {
	background: url("/images/smileys.jpg") -200px -275px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.love {
	background: url("/images/smileys.jpg") -300px -275px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.crazy {
	background: url("/images/smileys.jpg") -400px -275px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.smile {
	background: url("/images/smileys.jpg") 0px -360px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.smile1 {
	background: url("/images/smileys.jpg") -100px -360px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.ps {
	background: url("/images/smileys.jpg") -200px -360px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.sad {
	background: url("/images/smileys.jpg") -300px -360px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.worry {
	background: url("/images/smileys.jpg") -400px -360px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.mad {
	background: url("/images/smileys.jpg") 0px -450px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.confused {
	background: url("/images/smileys.jpg") -100px -450px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.smirk {
	background: url("/images/smileys.jpg") -200px -450px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.kiss {
	background: url("/images/smileys.jpg") -300px -450px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.shut {
	background: url("/images/smileys.jpg") -400px -450px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}


.party {
	background: url("/images/smileys.jpg") 0px -540px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.cat {
	background: url("/images/smileys.jpg") -100px -540px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.nerd {
	background: url("/images/smileys.jpg") -200px -540px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.devil {
	background: url("/images/smileys.jpg") -300px -540px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.angel {
	background: url("/images/smileys.jpg") -400px -540px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}

.kissed {
	background: url("/images/smileys.jpg") 0px -630px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.money {
	background: url("/images/smileys.jpg") -100px -630px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.tense {
	background: url("/images/smileys.jpg") -200px -630px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.cap {
	background: url("/images/smileys.jpg") -300px -630px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.gloom {
	background: url("/images/smileys.jpg") -400px -630px;
	background-repeat:  no-repeat;
	width:  25px;
	padding: 35px;
}
.img {
	vertical-align: middle;
	font-size:200%;
}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}